.hg
.hgignore
*.pyc
TempSync/vim/vim73
Library/qt-wdk-4.8.0
Library/qt-win-sym-4.7.0
Library/boost
Library/WTL
Library/Qt
Library/DXSDK
Library/WTL80_7161_Final.zip
Source/Drivers
Source/Hooks/OD
Source/Hooks/OllyDbgEx
Source/Hooks/th135/th135.pak
Source/Hooks/th135/th135cn
Source/Hooks/th135/th135x
Source/Hooks/th135/th135_pakx
Source/MyLibrary
Source/ShimEngine
Source/sources/ReactOS*
Source/sources/loki-lib
Source/sources/AvalonDock
Source/sources/dshow_x264
Source/sources/eadv020plus
Source/sources/FluentRibbon
Source/sources/kirikiri2
Source/sources/processhacker
Source/sources/Python 2.73
Source/sources/reactos
Source/sources/win2k
Source/sources/windbg64
Source/sources/KAV8.zip
Source/sources/ph.part*.rar
Source/sources/windows_2000_source_code.zip
Source/sources/WRK-v1.2
Source/Test_Drv
Source/LocaleEmulator2/LocaleEmulator/win32k_x64_win8.i64
Source/LocaleEmulator2/LocaleEmulator/win32k_x64_win8.sys
Source/LocaleEmulator2/LocaleEmulator/Loader.exe
Source/LocaleEmulator2/LocaleEmulator/LocaleEmulator.dll
